*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV BAR FOR MOBILE  */
.mobile-header{
    visibility: hidden;
}
.mobile-nav{
    margin-top: 50px;
    
}
.mobile-nav-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
.mobile-nav-item p{
    color: #3A3A3A;
    font-size: 1.5em;
}



/* navigation bar  */
.header-section{
    margin-top: 5%;
}

.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8%;
}
.influencer-title h1{
    font-size: 24px;
    color: #3A3A3A;
}

.menu{
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    list-style: none;
}
.menu li{
    margin-right: 1em;
    font-size: 19px;
    color: #3A3A3A;
}
/* top section  */
.top-section{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;

}

.half-width{
    width: 40%;
}
.half-width img{
    width: 100%;
}

.half-width-heading{
    font-size: 3em;
    margin-bottom: 20px;
    color: #3A3A3A;
}
.half-width-paragraph{
    font-size: 1em;
    margin-bottom: 20px;
    color:#3A3A3A;
}

.influencer-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}

/* ecomarce logo section  */
hr{
    color: lightgray;
}

.ecomarce-section{
    padding-top: 5rem;
    height: 30vh;
}
hr{
    height: 1px;
    background-color: rgb(238, 231, 231);
    border: none;
    margin: 0 10%;
}
 .e-logos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 10%;
}
.e-logo img{
    width: 75px;
    height: 40px;
}
  /* .e-logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2% 10%;
    justify-items: center;
} */

/* card box section  */

/* .popular-section{
    height: 200vh;
} */

.popular-title{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 0;
}

.card{
    border-radius: 5px;
    width: 18vw;
    padding: 25px;
    box-shadow: 5px 5px 15px 5px gray;
}

.card img{
    width: 100%;
}
.rating-star i{
    color: gold;
}
.card-paragraph{
    color: #787885;
    font-size: 1em;
    font-weight: 700;
    text-align: start;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    grid-column-gap: 1.5em;
    grid-row-gap:1.5em;
    padding-top: 5%;
    
}

.right-arrow{
    display: flex;
    justify-content: end;
    font-size: 0.6em;
    color: #E02C6D;
    margin-top: 5%;
    margin-right: 15%;

}

.fa-arrow-right{
    color: #E02C6D;
}

/* bottom section  */
.bottom-section{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.half-baner{
    width: 50%;
}
.half-banner-description{
    font-size: 2em;
    margin-bottom: 20px;
    color: #0A0826;
}
.half-banner-paragraph{
    font-size: 1em;
    margin-bottom: 20px;
    color: #6C6C6C;
}

.exp-btn{
    font-size: 1.2em;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border: none;
}

.half-baner img{
    width: 66%;
}

/* footer section  */
.footer{
    height: 30vh;
    background-color: #0A0826;
}
.footer-description{
    padding: 25px 0;
}
.footer-description h1, p{
    color: #FFFFFF;
    text-align: center;
    
}

.footer-logo p{
    color: lightgray;
    padding: 7px;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* responsive for use media query */
@media only screen and (max-width:667px) {
    .header-section{
        display:none;
    }
    .top-section{
        width: 100%;
        height: 60vh;
        margin-bottom: 30%;
    }
    .top-section{
        flex-direction: column-reverse;
    }
    .half-width{
        height: 90%;
        width: 80%;
        margin-left: 5%;
        text-align: center;
    }
    .half-width-heading{
        font-size: 2em;
        margin-top: 50px;
    }
    .mobile-header{
        visibility: visible;
    }
    hr{
        visibility: hidden;
    }
    .e-logos{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        flex-direction: row;
    }
    .e-logo img{
       width: 70px;
       height: 50px;
       align-items: center;
    }
    
    .card-container{
        height: 440vh;

    }
    .card-box{
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        width: 80%;
        margin-left: 50px;
    }
    .bottom-section{
        margin-top: 50%;
        width: 100%;
        height: 60vh;
        margin-bottom: 30%;
        flex-direction: column-reverse;
    }
    .half-baner img{
        padding-top: 10%;
        width: 80vw;
        height: 100%;
        padding-right: 100%;
        
    }
}